@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

.wrapper {
  display: flex !important;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  text-align: left;
}

.sliderImg {
  box-sizing: border-box;
  width: 20vw;
  height: 100%;
  object-fit: cover;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 23px;
  height: 44px;
}

.slides .slick-prev {
  left: 20px;
  background-image: url("../assets/icons/arrow_left.svg");
}

.slides .slick-next {
  right: 20px;
  background-image: url("../assets/icons/arrow_right.svg");
}

.slides .slick-list {
    margin: 0px 50px;
}

.slides .slick-prev::before,
.slides .slick-next::before {
    display: none;
}